body{
    background-color: rgb(238, 211, 211);
}

/*se resetean los estilos css en los navegadores*/
*{
    margin: 0;
    padding: 0;
}

/*estyle del div principal parte superior*/
#contenedor_cabezera{
    width: 100%;
    height: 60px;
    background-color: #f58b4a;
    margin-bottom: 0px;
}
#contenedor_cabezera h4{
    color:rgb(250, 250, 250);
    font-family: monospace;
    font-size: 30px;
    padding: 15px 20px;
}
 
/*estilos al navg del menu principal*/
nav{
    width: 100%;
}
.menu_list{
    margin-top: 0px;
    text-align: left;
    background-color: #403f3e;
    height: 38px;
    margin-bottom:1px;
    padding-top: 5px ;
   
}
.list_item{
    display:inline-block;
    list-style: none; 
    padding-right: 3px;
    margin-left: 12px;
    margin-bottom: 0px;
}
.link{

    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    position: relative;
}
.link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #f58b4a;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;

}
/*cambios de tipo estilo al poner el cursor sobre los elementos 'a' (enlaces) */
.link:hover:after{
    width: 100%;
    right: 0;
}



.enlace:after{
    content: "";
    width: 0;
    height: 4px;
    background-color:rgb(25, 241, 248);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;



    
}
.enlace:hover:after{
    width: 100%;
    right: 0;

}
/*estilos al primer "bloque de presentacion" es al centrado  tambien se dan estilos a los h, p*/
#presentacion{

    width: 500px;
    height: 560px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #3a3a3a;
    border: 3px solid rgb(147, 146, 146);
    
}
/*estilos a formulario de calculadora */
#calculadora{
    background-color: #ffbe9d;
    margin: 5px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado{
    background-color: #63a55e;
    color:rgb(19, 19, 19);
    margin: 25px 2px;
    margin-left: 7px;
    border: 2px solid rgb(60, 60, 60);
    height: 120px;
    width: 460px;
    text-align: left ;
    padding-left: 20px;
    font-size :40px;
}
form input{
    margin-left: 5px; 
    margin-bottom: 5px;
    color: #2d2c2c;
    width: 115px;
    height: 70px;
    font-size: 45px;
}
#modulo{
    float: right;
    width: 40%;  
    margin: 10px 130px;
}
/* estilos al pie de pagina y elemento p */
#piepagina{
    height: 50px;
    font-size: 34px;
    background-color: rgb(3, 3, 3);
    color:#fff;
}
#piepagina p{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
}
/*cuando el display sea un celular*/
/*cuando el display sea un celular*/
@media(max-width: 600px){
    /*estilos al primer "bloque de presentacion" es al centrado  tambien se dan estilos a los h, p*/
#presentacion{

    width: 360px;
    height: 550px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #3a3a3a;
    border: 3px solid rgb(147, 146, 146);
    
}
/*estilos a formulario de calculadora */
#calculadora{
    background-color: #ffbe9d;
    margin: 5px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#resultado{
    background-color: #63a55e;
    color:rgb(19, 19, 19);
    margin: 25px 2px;
    margin-left: 7px;
    border: 2px solid rgb(60, 60, 60);
    height: 80px;
    width: 320px;
    text-align: left ;
    padding-left: 10px;
    font-size :30px;
}
form input{
    margin-left: 5px; 
    margin-bottom: 5px;
    color: #2d2c2c;
    width: 80px;
    height: 70px;
    font-size: 45px;
}


    nav{
        margin-bottom:  5px; 
    }
    .link{
        text-decoration: none;
        color: #fff;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1rem;
        position: relative; 
        padding-left: 0px;
    
    }

}
